/*------------------------------------*\
  #NEWSLETTER
\*------------------------------------*/

.newsletter {
    h3 {
        @include text-style('medium');
    }
}

.newsletter__body {
    margin-top: var(--size-100);

    @include respond-to('lg') {
        margin-top: var(--size-50);
    }
}

.newsletter__input {
    display: flex;
    column-gap: var(--size-400);
    flex-direction: column;

    input {
        all: unset;
        border: 1px solid var(--border-default);
        padding: var(--size-100) var(--size-400);
        width: 28ch;

        &::placeholder {
            color: var(--text-default);
        }
    }

    @include respond-to('lg') {
        align-items: center;
        flex-direction: row;
        column-gap: var(--size-400);
    }
}

.newsletter__submit {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}