/*------------------------------------*\
  #TEXT
\*------------------------------------*/

.text {

    @include respond-to(lg) {
        scroll-margin-top: 3.1rem;
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        column-gap: var(--column-gap);
    }
}


.text__headline {
    cursor: pointer;
    display: inline-block;
    line-height: 1.1;
    white-space: wrap;
    height: fit-content;

    h3 {
        @include text-style('800');
        display: inline;
    }

    &:hover {
        span {
            text-decoration: none !important;
        }
    }

    @include respond-to('lg') {
        grid-column: 1 / span 4;
        position: sticky;
        top: 3.6rem;

        .is-active & {
            padding-bottom: var(--size-1000);
        }

        h3 {
            @include text-style('850');
        }
    }
}

.text__subline {
    opacity: 0;
    max-height: 0;       // Collapse the element so it takes up no space
    overflow: hidden;
    transition: opacity 0s ease-in-out, max-height 0s ease-in-out;
    margin-top: 0;

    .is-active & {
        transition: opacity .3s ease-in-out, max-height .2s ease-in-out;
        margin-top: var(--flow-space);
        opacity: 1;
        max-height: 3rem;    // Set to a value greater than or equal to the expected content height
    }
}

.text__body {
    opacity: 0;
    overflow: hidden;
    max-height: 0; // start collapsed
    transition: opacity 0s ease-in-out, max-height 0s ease-in-out;

    .is-active & {
        transition: opacity .3s ease-in-out, max-height .2s ease-in-out;
        margin-top: var(--size-600);
        padding-bottom: var(--size-1000);
        opacity: 1;
        max-height: 80rem; // adjust if necessary
    }

    @include respond-to(lg) {
        margin-top: var(--size-400);
        grid-column: 6 / span 6;

        .is-active & {
            margin-top: 0;
        }
    }
}