/*------------------------------------*\
#Header Logo and navigation
\*------------------------------------*/


.header-nav {
    z-index: map-get($z-index, header);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: var(--body-p) var(--body-p);

    .has-modal & {
        pointer-events: none;
    }

    @include respond-to('lg') {
        padding: 2.2rem var(--body-p) var(--body-p);
    }
}

.header-nav__list {
    display: flex;
    justify-content: space-between;
}

.header-nav__logo {
    @include respond-to('lg') {
        pointer-events: all;
        position: fixed;
        z-index: map-get($z-index, logo);
    }
}

.header-nav__about {
    cursor: pointer;
    position: absolute;
    right: var(--body-p);

    .has-modal & {
        display: none;
    }
}