/*------------------------------------*\
  #TEXT
\*------------------------------------*/

.text {

}


.text__headline {
    cursor: pointer;
    line-height: 1.1;
    white-space: wrap;

    h3 {
        font-size: 2.4rem;
        display: inline;
    }

    &:hover {
        span {
            text-decoration: none !important;
        }
    }

    @include respond-to('lg') {
        h3 {
            font-size: 3rem;
        }
    }
}

.text__additional {
    display: none;

    .text.is-active & {
        display: inline;
    }
}

.text__subline {

}

.text__body {
    display: none;
    padding-bottom: var(--size-1000);
    margin-top: var(--size-600);

    .is-active & {
        display: block;
    }

    @include respond-to(lg) {
        margin-top: var(--size-400);

        .is-active & {
            display: flex;
        }

        &:before {
            content: attr(data-title);
            font-size: 3rem;
            opacity: 0;
            pointer-events: none;
            user-select: none;
        }
    }
}

.text__images-container {
    display: grid;
    grid-template-columns: auto 4ch;
    height: 60svh;
}

.text__content {
    position: relative;
    display: grid;

    @include respond-to('lg') {
        grid-template-columns: repeat(12, 1fr);
        column-gap: var(--body-p);
    }
}

.text__media {
    @include respond-to('lg') {
        grid-column: 1 / span 6;
    }
}

.text__text {
    @include respond-to('lg') {
        grid-column: span 4 / -1;
    }
}

.text__related {
    margin-top: var(--size-800);
}

.text__related-list {
    --flow-space: 0;

    a {
        &:after {
            content: ", ";
            text-decoration: none;
            display: inline-block;
        }

        &:last-child:after {
            content: "";
        }
    }
}
