/*------------------------------------*\
#IMPRINT
\*------------------------------------*/

.imprint {
    padding: 2rem var(--body-p) 0;
    // @include text-style('700');

    @include respond-to(lg) {
        padding: 0 var(--body-p);
        // @include text-style('850');
    }
}

.imprint__logos {
    display: flex;
    column-gap: var(--size-400);

    img {
        height: 60px;
        width: auto;
        object-fit: contain;
    }
}