.text-list {
    margin-top: var(--size-400);
    padding-inline: var(--body-p);

    > * + * {
        margin-top: var(--size-400);
    }

    @include respond-to('lg') {
        margin-top: 0;
    }
}
