/*------------------------------------*\
#Footer
\*------------------------------------*/

.footer {
    padding: var(--body-p);
    display: flex;
    justify-content: space-between;
    @include text-style('300');
}

.footer__social {
    display: flex;
    gap: var(--body-p);
}
