/*------------------------------------*\
#Header Logo and navigation
\*------------------------------------*/


.header-nav {
    z-index: map-get($z-index, header);
    padding: var(--body-p) var(--body-p);
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
}

.header-nav__list {
    display: flex;
    justify-content: space-between;
}

.header-nav__logo {
    @include respond-to('lg') {
        pointer-events: all;
    }
}

.header-nav__nav {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header-nav__nav-link {
    &.is-active {
        @include underline();
    }

    // &:first-child {
        //     &:after {
            //         content: '/';
            //         padding-left: .5ch;
            //     }
            // }
        }

        .header-nav__about {
    &.is-active {
        @include underline();
    }
}