/*------------------------------------*\
  #Header Logo and navigation
\*------------------------------------*/


.header-nav {
    z-index: map-get($z-index, header);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2.25rem var(--body-p) var(--body-p);

    .has-modal & {
        pointer-events: none;
    }
}

.header-nav__list {
    display: flex;
    justify-content: space-between;
}

.header-nav__logo {
    pointer-events: all;
    position: fixed;
    z-index: map-get($z-index, logo);
}

.header-nav__about {
    cursor: pointer;
    position: absolute;
    right: var(--body-p);

    .has-modal & {
        display: none;
    }
}