/*------------------------------------*\
  #TEXT
\*------------------------------------*/

.text {
    @include respond-to(lg) {
        scroll-margin-top: 3.1rem;
    }
}


.text__headline {
    cursor: pointer;
    display: inline-block;
    line-height: 1.25;
    white-space: wrap;
    height: fit-content;

    &:hover {
        span {
            text-decoration: none !important;
        }
    }
}

.text__title {
    @include text-style('display');
    @include text-style('800');

    display: inline;

    @include respond-to('lg') {
        @include text-style('850');
    }
}

.text__subline {

}


.text__additional {
    display: none;

    .text.is-active & {
        display: inline;
    }
}

.text__body {
    opacity: 0;
    overflow: hidden;
    max-height: 0; // start collapsed
    transition: opacity 0s ease-in-out, max-height 0s ease-in-out;
    --flow-space: 0;

    .is-active & {
        --flow-space: var(--size-400);
        transition: opacity .3s ease-in-out, max-height .2s ease-in-out;
        margin-top: var(--size-600);
        padding-bottom: var(--size-1000);
        opacity: 1;
        max-height: 80rem; // adjust if necessary
    }

    @include respond-to(lg) {
        display: flex;
        flex-direction: row;

        .is-active & {
            margin-top: var(--size-400);
        }

        &:before {
            content: attr(data-title);
            opacity: 0;
            pointer-events: none;
            user-select: none;
            @include text-style('display');
            @include text-style('850');
        }
    }
}

.text__related {
    margin-top: var(--size-600);

    h3 {
        @include text-style('display-medium');
        @include text-style('400');
    }
}

.text__related-list {
    --flow-space: 0;
    line-height: 1.4;

    a {
        white-space: nowrap;

        &:after {
            content: ", ";
            text-decoration: none;
            display: inline-block;
        }

        &:last-child:after {
            content: "";
        }
    }
}