.project-teasers__list {
    overflow-y: hidden;
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    height: 80svh;
    scrollbar-width: none;
    cursor: grab;

    &::-webkit-scrollbar {
        display: none;
    }
}

.project-teasers__item {
    display: block;

    transform: scaleX(attr(data-position));
}

.project-teasers__teaser {
}

.project-teasers__asset {
    @include keyframes(reveal-featured) {
        0% {
            opacity: 0.5;
            transform: scaleY(0);
        }
        100% {
            opacity: var(--video-dimm);
            transform: none;
        }
    }

    .media-box {
        display: block;
        height: 80vh;
        width: calc(80vh / var(--aspect-ratio));
    }
}
