/*------------------------------------*\
  #TEXT FIELD
\*------------------------------------*/

.text-field {
    max-width: var(--measure);
    word-break: break-word;

    > * + * {
        --flow-space: var(--size-200);
        margin-top: var(--flow-space);
    }

    a {
        @include underline();
    }

    p + p {
        --flow-space: 0;
		text-indent: 2ch;
    }

    h3 + p {
        --flow-space: 0;
    }

    h3 {
        @include text-style('display-medium');

        --flow-space: var(--size-600);
    }
}