<!DOCTYPE html>
<html itemscope="itemscope" itemtype="http://schema.org/WebPage" lang="{% if site.lang %}{{ site.lang }}{% else %}{{ lang }}{% endif %}">
    <head>
        {% set seo = home[0].seo %}

        <meta charset="utf-8">
        <title>{% if dataContent.title|length %}{{ dataContent.title }}{% else %}Agnes Müller{% endif %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="referrer" content="no-referrer-when-downgrade">

        {# todo just for now #}
        <meta name="robots" content="noindex, nofollow" />

        {# {% block robots %}
            <meta name="robots" content="{% if isDev %}noindex,nofollow{% else %}index,follow{% endif %}">
        {% endblock %} #}

        {# Preload Font #}
        {# <link rel="preload" href="{% webpack 'fonts/ABCDiatypeRounded-Medium-Trial.woff' %}" as="font" type="font/woff" crossorigin>
        <link rel="preload" href="{% webpack 'fonts/ABCDiatypeRoundedMono-Medium-Trial.woff2' %}" as="font" type="font/woff2" crossorigin>
        <link rel="preload" href="{% webpack 'fonts/ABCDiatypeRounded-Medium-Trial.woff' %}" as="font" type="font/woff" crossorigin>
        <link rel="preload" href="{% webpack 'fonts/ABCDiatypeRoundedMono-Medium-Trial.woff2' %}" as="font" type="font/woff2" crossorigin> #}

        {# Meta tags #}
        {% include "partials/meta.njk" %}

        <link rel="stylesheet" href="{% webpack 'main.css' %}">
    </head>

    <body class="{% block body_class %}{% endblock %}" id="body">

        {# HEADER #}
        <header class="header-main">
            {% block header %}
                {{ content | safe }}
            {% endblock %}
        </header>

        {# MAIN #}
        <main tabindex="-1" id="main" class="main">
            {% block content %}
                {{ content | safe }}
            {% endblock %}

            {# About #}
            {% set about = about[0] %}
            <div class="modal">
                <div class="modal__content">
                    {% include "components/about.njk" %}
                </div>

                <div class="modal__close">
                    <button class="btn | js-about-toggle">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="1em" height="1em" style="--icon-ratio: 1;" class="icon" aria-hidden="true">
                            <line x1="1" y1="1" x2="19" y2="19"></line><line x1="1" y1="19" x2="19" y2="1"></line>
                        </svg>
                    </button>
                </div>
            </div>
        </main>

        <footer class="footer-main">
            <a href="#">Imprint</a>
        </footer>

        <script async defer src="{% webpack 'main.js' %}"></script>

        {# Plausible #}
        {# todo implement? #}
        {# <script defer data-domain="studio-rueda.com" src="https://plausible.io/js/script.js"></script> #}

        {# Mailchimp #}
        {# todo implement? #}
        {# <script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script> #}
    </body>
</html>
