{% extends "./base.njk" %}

{% block header %}
    {% set activeState = 'works' %}
    {% include "partials/header-nav.njk" %}
{% endblock %}

{% block content %}
    {# Hero #}
    {# {% set heroImagesLeft = home[0].heroImgsLeft %}
    {% set heroImagesRight = home[0].heroImgsRight %}
    {% include "components/hero.njk" %} #}

    {# Projects #}
    {% set projectsList = home[0].projectSelection %}
    {% include "components/project-list.njk" %}
{% endblock %}