/*------------------------------------*\
  #PROJECT
\*------------------------------------*/

.project {

}


.project__headline {
    cursor: pointer;
    line-height: 1.1;
    white-space: wrap;

    h3 {
        font-size: 2.4rem;
        display: inline;
    }

    &:hover {
        span {
            text-decoration: none !important;
        }
    }

    @include respond-to('lg') {
        h3 {
            font-size: 3rem;
        }
    }
}

.project__additional {
    display: none;

    .project.is-active & {
        display: inline;
    }
}

.project__subline {

}

.project__body {
    display: none;
    padding-bottom: var(--size-1000);
    margin-top: var(--size-50);

    .is-active & {
        display: block;
    }
}

.project__images-container {
    display: grid;
    grid-template-columns: auto 4ch;
    height: 60svh;
}

.project__content {
    margin-top: var(--size-600);
    position: relative;
    display: grid;

    @include respond-to('lg') {
        grid-template-columns: repeat(12, 1fr);
        column-gap: var(--body-p);
    }
}

.project__media {
    @include respond-to('lg') {
        grid-column: 1 / span 6;
    }
}

.project__text {
    @include respond-to('lg') {
        grid-column: span 4 / -1;
    }
}

.project__related {
    margin-top: var(--size-800);
}

.project__related-list {
    --flow-space: 0;

    a {
        &:after {
            content: ", ";
            text-decoration: none;
            display: inline-block;
        }

        &:last-child:after {
            content: "";
        }
    }
}
