/*------------------------------------*\
  #DETAILS
\*------------------------------------*/

details {
    border-top: 1px solid var(--border-secondary);
}

summary {
    &::-webkit-details-marker,
    &::marker {
        display: none;
        content: "";
    }

    [open] & {

    }
}