<div class="newsletter | mc_embed_signup">
    <h3>Newsletter</h3>

    <form class="newsletter__body | flow-400 | validate js-newsletter-form"
        action="/"
        method="post"
        id="mc-embedded-subscribe-form"
        name="mc-embedded-subscribe-form"
        target="_blank"
        novalidate
    >
        <div class="newsletter__input">
            <input type="email" name="EMAIL" placeholder="E-mail Adresse" class="newsletter__email | required email | js-newsletter-email" id="mce-EMAIL" required>

            {# <span id="mce-EMAIL-HELPERTEXT" class="helper_text"></span> #}

            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6731ccc7c8d7ff394cdd31672_063de2ae1f" tabindex="-1" value=""></div>

            <div class="newsletter__submit-wrapper | js-form-item">
                <button type="submit" name="submit" id="mc-embedded-subscribe"  class="newsletter__submit | js-submit-button">
                    anmelden
                </button>
            </div>
        </div>
    </form>

    <div class="newsletter__message | js-newsletter-message"></div>
</div>