<div class="project-list">
    {# Projects #}
    {% for project in projectsList %}
        <div class="project" id="{{ project.slug.current }}">
            <a href="#{{ project.slug.current }}" class="project__headline | js-project">
                <p>
                    <span>{{ project.title }}</span>, {{ project.year }}, {{ project.medium }}
                </p>
            </a>

            <div class="project__body">
                {# Materials and location #}
                <p class="project__subline">
                    {% if project.material | length %}<span>{{ project.material }}</span>{% endif %}
                    {% if project.measurements | length %}<span>{{ project.measurements }}</span>{% endif %}
                    {% if project.location | length %}<span>{{ project.location }}</span>{% endif %}
                </p>

                <div class="project__content">
                    {# Video #}
                    {% if project.videoAsset | length %}
                        <div class="video-box__player video-player media-box | js-video-player" style="--aspect-ratio: {{ videoRatio }}">
                            <iframe src="https://player.vimeo.com/video/{{ project.vimeoID|default('384255340') }}?dnt=1&amp;title=0&amp;byline=0&amp;portrait=0&amp;autoplay=0&amp;badge=0&amp;color=fff" frameborder="0"></iframe>
                        </div>

                    {# Images #}
                    {% else %}
                        {% set sizes = '(min-width: 64em) 50vw' %}
                        {% set widths = [800] %}
                        <div class="gallery swiper | js-carousel" data-swiper-type="gallery">
                            <div class="gallery__images swiper-wrapper">
                                {% for image in project.imageAssets %}
                                    {% set assetRatio = image.asset.metadata.dimensions.height / image.asset.metadata.dimensions.width %}
                                    <div class="gallery__image swiper-slide">
                                        <figure class="gallery__figure" style="--aspect-ratio: {{ assetRatio }}">
                                            {% image image.asset.url,
                                                image.altText,
                                                sizes,
                                                widths,
                                                'lazy',
                                                image.asset.originalFilename
                                            %}
                                        </figure>
                                    </div>
                                {% endfor %}
                            </div>

                            <!-- swiper navigation buttons -->
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div>

                            <!-- Swiper pagination -->
                            <div class="swiper-pagination"></div>
                        </div>
                    {% endif %}

                    {# Text #}
                    <div class="project__text | flow-400">
                        <div class="text-field">
                            {{ project.desc.text|portableToHtml|safe }}
                        </div>


                        <div class="project__related | text-field">
                            <h3>You may also like:</h3>
                            <div class="project__related-list">
                                {% for related in project.relatedProjects %}
                                    <a href="#{{ related.slug.current }}">
                                        <span>{{ related.title }}</span></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>