<div class="text-list">
    {# Texts #}
    {% for text in textsList %}
        <div class="text" id="{{ text.slug.current }}">
            <a href="#{{ text.slug.current }}" class="text__headline | flow-100 | js-text">
                {# !NEED TO STAY IN ONE LINE #}
                <h3 class="text__title">{{ text.title }}</h3>{% if text.year | length %}<span>, {{ text.year }}</span>{% endif %}{% if text.subline | length %}<span class="text__subline">, {{ text.subline }}</span>{% endif %}
            </a>

            <div class="text__body" data-title="{{ text.title }}">
                {# Text #}
                {% if text.text.text | length %}
                    <div class="text-field">
                        {{ text.text.text|portableToHtml|safe }}

                        {# Related #}
                        {% if text.relatedProjects | length %}
                            <div class="text__related | text-field flow-200">
                                <h3>You may also like:</h3>

                                <div class="text__related-list">
                                    {% for related in text.relatedProjects %}
                                        <a href="/{% if related._type == 'texts' %}words{% endif %}#{{ related.slug.current }}" class="js-related-link" data-target-slug="{{ related.slug.current }}">
                                            <span>{{ related.title }}</span>
                                        </a>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    {% endfor %}
</div>