<nav class="header-nav">
    {# Logo / home #}
    <a class="header-nav__logo" href="/" data-nav-item="home">
        Agnes Müller
    </a>

    <div class="header-nav__nav">
        <a class="header-nav__nav-link{% if activeState and activeState == 'works' %} is-active{% endif %}" href="/">Works</a> / <a class="header-nav__nav-link{% if activeState and activeState == 'words' %} is-active{% endif %}" href="/words">Words</a>
    </div>

    <a href="/about" class="header-nav__about{% if activeState and activeState == 'about' %} is-active{% endif %}" data-nav-item="about">
        About
    </a>
</nav>