<nav class="header-nav">
    <ul class="header-nav__list">
        {# Logo / home #}
        <li class="header-nav__item" data-nav-item="home">
            <a class="nav-home__link" href="#">
                <h1>Agnes Müller</h1>
            </a>
        </li>

        <li class="header-nav__item | js-about-btn" data-nav-item="about">
            About
        </li>
    </ul>
</nav>