<nav class="header-nav">
    <ul class="header-nav__list">
        {# Logo / home #}
        <li class="header-nav__logo" data-nav-item="home">
            <a class="nav-home__link" href="/">
                <h1>Agnes Müller</h1>
            </a>
        </li>

        <li class="header-nav__about | js-about-trigger" data-nav-item="about">
            About
        </li>
    </ul>
</nav>