{# General #}
<meta name="description" content="{{ seo.description }}">
<meta name="keywords" content="Agnes Müller, artist, performance art, video, Cologne, Germany, contemporary art">

{# Open graph related #}
<meta property="og:title" content="{{ seo.title }}" />
<meta property="og:type" content="{{ site.type }}" />
<meta property="og:url" content="{{ site.url }}" />
<meta property="og:image" content="{{ site.ogimage }}" />
<meta property="og:site_name" content="{{ site.name }}" />
<meta property="og:description" content="{{ seo.description }}" />

{# Favicon #}
<link rel="apple-touch-icon" sizes="180x180" href="{{ '/assets/favicon/apple-touch-icon.png' | url }}">
<link rel="icon" type="image/png" href="{{ '/assets/favicon/favicon-96x96.png' | url }}" sizes="96x96">
<link rel="icon" href="{{ '/favicon.ico' | url }}" sizes="any">
<link rel="icon" href="{{ '/favicon.svg' | url }}" type="image/svg+xml">
<link rel="manifest" href="{{ '/site.webmanifest' | url }}">
<meta name="theme-color" content="#000000">