///*----------------------------------*\
//  #TOKENS
//\*----------------------------------*/

// Global design tokens


// SIZE SCALE
//
// We use a modular scale that powers all the utilities that
// it is relevant for (text styles/font-size, margin, padding).
// All items are calculated off these tokens.
//
// OUR APPROACH
// Instead of going into complicated SASS Mixins or Calc operations
// we use this tool to get the values for a chosen type of scale:
// https://type-scale.com/
//
// NAMING CONVENTION
// Naming is taken from font weight where a weight of 400 is considered normal
//
// This project uses a Major Third scale above 1rem
// meaning the ratio between values is 1.25
// Values below are handpicked

$size-scale: (
    '25': 0.1rem,
    '50': 0.25rem,
    '100': 0.5rem,
    '200': 0.64rem,
    '300': 0.8rem,
    '400': 1rem,
    '500': 1.25rem,
    '600': 1.563rem,
    '700': 1.953rem,
    '800': 2.4rem,
    '850': 3rem,
    '900': 3.9rem,
    '1000': 5.6rem,
    '1100': 8rem,
    '1200': 12rem,
);

// COLORS
// Set up a colour palette which allows us
// to theme the entire project from one location.

// Text colors
$text-colors: (
    'default': #000,
    'inverted': #fff,
    );

    // Background colors
    $bg-colors: (
    'default': #fff,
    'inverted': #000,
    'pink': rgba(255, 233, 239, .85)
);

// Border colors
$border-colors: (
    'default': #000
);

// lightmode (cases)
// Text colors
$text-colors-light: (
    'default': #fff,
    'inverted': #000,
);

// Background colors
$bg-colors-light: (
    'default': #000,
    'inverted': #fff,
);

// Border colors
$border-colors-light: (
    'default': #fff,
    'inverted': #fff,
);

// TEXT STYLES
// Create text presets based on design system
//
// !IMPORTANT
// ===================================================================
// | In this project text styles are not attached to the size-scale! |
// ===================================================================
//
// .usage {
//   @include text-style(100);
// }
//
// 1. Forcing longest line length
// 2. Provide fallback values for static font fallback
// 3. This would be correct but triggers static font load on variable font browsers

$text-styles: (
    // Default Font Family
    'default': (
        font-weight: 400,
        font-family: "'Inter Regular', sans-serif;",
    ),

    'medium': (
        font-weight: 400,
        font-family: "'Inter Medium', 'Inter Regular', sans-serif;",
    ),

    'semi-bold': (
        font-weight: 400,
        font-family: "'Inter Semi Bold', 'Inter Regular', sans-serif;",
    ),

    'display': (
        font-weight: 400,
        font-family: "'Inter Display Regular', 'Inter Regular', sans-serif;",
    ),

    'display-medium': (
        font-weight: 400,
        font-family: "'Inter Display Medium', 'Inter Regular', sans-serif;",
    ),

    // [M - default text]
    '400': (
        line-height: 1.2,
        letter-spacing: 0.04em,
    ),

    // [L - Intro texts]
    '500': (
        line-height: 1.16,
        letter-spacing: 0.03em,
    ),

    // [XL - Large texts]
    '600': (
        line-height: 1.1,
        letter-spacing: 0.02em,
    ),

    // [XL - Large texts]
    '700': (
        line-height: 1.08,
        letter-spacing: 0.02em,
    ),

    // [XL - Large texts]
    '800': (
        line-height: 1.06,
        letter-spacing: 0.01em,
    ),

    // [XL - Large texts]
    '850': (
        line-height: 1.06,
        letter-spacing: 0.01em,
    ),

    // [XL - Large texts]
    '900': (
        line-height: 1.04,
        letter-spacing: 0.0em,
    ),

    // Reset for default family
    'default-family': (
        font-family: "sans-serif;",
    ),
);
