///*----------------------------------*\
//  #Z-INDEX
//\*----------------------------------*/

// Setting up a gobal CSS Map to handle z-index throughout relevant ui-elements

// Usage:
// z-index: map-get($z-index, some-z);

// z-indexing
$z-index: (
    media-highlighted-media: 103,
    media-highlighted-overlay: 102,

    text-highlighted-overlay: -1,
    text-highlighted-media: 103,


    about: 100,
    header: 101,
);
